<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add</title>
</head>

<body style="background-color: black">
    <br> <br>
    <div>
        <form ng-submit="createEntry()">
            <div style="height: 350px; width: 450px; margin-left: 38%; margin-top: 70px; padding-left: 50px; padding-top: 50px; background-color: grey;">
                <div>
                    <div>
                        <label for="Emp_ID">Employee ID &nbsp;&nbsp;&nbsp;</label>
                        <input type="number" ng-model="Emp_ID" required style="background-color: rgba(255, 255, 255, 0.315);"> <br><br>
                    </div>
                    <div>
                        <label for="Emp_Name">Name&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                        <input type="text" ng-model="Emp_Name" required style="background-color: rgba(255, 255, 255, 0.315);"><br><br>
                    </div>
                    
                    <div>
                        <div>
                            <label for="Emp_Designation">Department&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                            <select ng-model="Emp_Designation" id="" required style="background-color: rgba(255, 255, 255, 0.315);">
                                <option selected disabled value="">Select one</option>
                                <option value="Testing">Testing</option>
                                <option value="Deployment">Deployment</option>
                                <option value="Customer Satisfaction">Customer Satisfaction</option>
                                <option value="Advertising">Advertising</option>
                            </select><br><br>
                        </div>
                    </div>

                    <div>
                        <label for="Emp_Department">Designation&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                        <input type="text" ng-model="Emp_Department" required style="background-color: rgba(255, 255, 255, 0.315);"><br><br>
                    </div>
                    <div>
                        <label for="Emp_Salary">Salary&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                        <input type="int" ng-model="Emp_Salary" required style="background-color: rgba(255, 255, 255, 0.315);"><br><br>
                    </div>
                    <div>
                        <label for="Emp_Location">Location&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                        <input type="text" ng-model="Emp_Location" required style="background-color: rgba(255, 255, 255, 0.315);"><br><br>
                    </div>

                </div>
                <div style="margin-left: 120px;">
                    <input type="submit" value="Create"  class="btn btn-danger">
                </div>
            </div>
            
        </form>
    </div>
</body>

</html>