<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
</head>

<body>
    <div>
        <form ng-submit="getData()">
        <div class="mb-3 mt-4">
            <label for="delete" class="form-label" style="margin-left: 16%;">Select Department</label>
            <select class="form-select form-select-lg" ng-model="Emp_Designation" id="" required ng-change="getData()" style="width: 70%; margin-left: 15%; background-color: rgba(255, 255, 255, 0.315);">
                <option selected disabled value="">Select one</option>
                <option value="Testing">Testing</option>
                <option value="Deployment">Deployment</option>
                <option value="Customer Satisfaction">Customer Satisfaction</option>
                <option value="Advertising">Advertising</option>
            </select>
        </div>
        <div class="d-flex justify-content-center">
            <input type="submit" value="Search" class="btn btn-info" />
        </div>
        </form>
        <section id="tableSection" class="container mt-5">
            <table class="table table-striped">
                <thead>
                    <tr class="bg-primary">
                        <th scope="col">Employee ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Designation</th>
                        <th scope="col">Department</th>
                        <th scope="col">Salary</th>
                        <th scope="col">Location</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="data in datas">
                        <td>{{data.Emp_ID}}</td>
                        <td>{{data.Emp_Name}}</td>
                        <td>{{data.Emp_Designation}}</td>
                        <td>{{data.Emp_Department}}</td>
                        <td>{{data.Emp_Salary}}</td>
                        <td>{{data.Emp_Location}}</td>
                    </tr>
                </tbody>
            </table>
        </section>
    </div>
</body>

</html>