<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update</title>
</head>

<body>
    <br> <br>
    <div class="container" style="padding-left: 290px;">
        <form ng-submit="updateEntry()">
            <div class="mt-3">
                <div class="row">
                    <div class="offset-md-1 col-md-7">
                        <label for="Emp_ID" class="form-label">Employee ID</label>
                        <select class="form-select form-select-lg" ng-model="Emp_ID" id="" required ng-options="data.Emp_ID for data in datas" ng-change="getEmp_ID()" style="background-color: rgba(255, 255, 255, 0.315);">
                            <option selected disabled value="">Select one</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="mt-3">
                <div class="row">
                    <div class="offset-md-1 col-md-7">
                        <label for="name" class="form-label">Name</label>
                        <input type="text" ng-model="name" class="form-control" required style="background-color: rgba(255, 255, 255, 0.315);">
                    </div>
                </div>
            </div>
            <div class="mt-3">
                <div class="row">
                    <div class="offset-md-1 col-md-7">
                        <div class="mb-3">
                            <label for="designation" class="form-label">Designation</label>
                            <select class="form-select form-select-lg" ng-model="designation" id="" required style="background-color: rgba(255, 255, 255, 0.315);">
                                <option selected disabled value="">Select one</option>
                                <option value="Testing">Testing</option>
                                <option value="Deployment">Deployment</option>
                                <option value="Customer Satisfaction">Customer Satisfaction</option>
                                <option value="Advertising">Advertising</option>
                            </select>
                        </div>
                    </div>
                    <div class="offset-md-1 col-md-7">
                        <label for="department" class="form-label">Department</label>
                        <input type="text" ng-model="department" class="form-control" required style="background-color: rgba(255, 255, 255, 0.315);">
                    </div>
                </div>
            </div>
            <div class="mt-3">
                <div class="row">
                    <div class="offset-md-1 col-md-7">
                        <label for="salary" class="form-label">Salary</label>
                        <input type="int" ng-model="salary" class="form-control" required style="background-color: rgba(255, 255, 255, 0.315);">
                    </div>
                </div>
            </div>
            <div class="mt-3">
                <div class="row">
                    <div class="offset-md-1 col-md-7">
                        <label for="location" class="form-label">Location</label>
                        <input type="text" ng-model="location" class="form-control" required style="background-color: rgba(255, 255, 255, 0.315);">
                    </div>
                    
                </div>
            </div>
            <div class="mt-5 d-flex" style="padding-left: 330px;">
                <input type="submit" value="Update" class="btn btn-danger">
            </div>
        </form>
    </div>
</body>

</html>